
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
    color: #2D3748;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 300px; 
    grid-template-rows: auto;
    grid-gap: 20px;
}


header {
    grid-column: 1 / 3;
    background-color: #63B3ED;
    text-align: center;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

header h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 0;
}


main article {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
}

main article h2 {
    font-size: 32px;
    color: #48BB78;
}

main article p em {
    color: #718096;
}

main article img {
    float: left;
    margin-right: 15px;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}


aside {
    background-color: #f9f9f9;
    padding: 20px;
}

aside section h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

aside section.about {
    background-color: #E2E8F0;
    padding: 15px;
    color: #000;
}

aside section.social-media h3, aside section.archives h3 {
    color: #48BB78;
}

aside ul li a {
    color: #4299E1;
}


footer {
    grid-column: 1 / 3;
    background-color: #2C5282;
    text-align: center;
    color: white;
    padding: 20px;
}
